<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="styles.css">

</head>

<body>
    <div class="main-container">
        <div class="header">
            <img class="logo" src="{% static 'images/logo.webp' %}">
            <a href="{% url 'setting' %}"></a>
        </div>
        <div class="first-container">
            <div class="side-bar">
                <a href="{% url 'trangchu' %}" class="list-href">Trang chủ</a>
                <a href="{% url 'thongtin' %}" class="list-href">Thông tin</a>
                <a href="{% url 'allkhoahoc' %}" class="list-href">Khóa học</a>
                <a href="{% url 'luyentap' %}" class="list-href">Luyện tập</a>
                <a href="" class="list-hrefs"></a>
            </div>
            <div class="container">
                <div class="title-des">
                    <h1>{{ problem.title }}</h1>
                    <p>{{ problem.description|linebreaksbr }}</p>
                </div>
                <div class="form-sub">
                    <div class = "form">
                        <form id="code-submission-form" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Submit</button>
                        </form>
                        <div id="results"></div>
                    </div>
                    
                    <h2>Previous Submissions</h2>
                    <div id="previous-submissions">
                        {% if previous_submissions %}
                        <ul>
                            {% for submission in previous_submissions %}
                            <li>
                                <p><strong>Submitted at:</strong> {{ submission.submission_time }}</p>
                                <p><strong>Status:</strong>
                                    <span class="status {% if submission.passed %}passed{% else %}failed{% endif %}">
                                        {% if submission.passed %}Qua{% else %}Không qua{% endif %}
                                    </span>
                                </p>
                                <a href="{% url 'edit_submission' submission.id %}">
                                    <button>Edit Code</button>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No previous submissions.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
                
        </div>
    </div>
</body>

</html>